@charset "utf-8";
body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background-color: #1d1d1d;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#leftBarHolder {
	background-color: #121212;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	bottom: 0px;
	overflow: visible; /* Has to be visible, otherwise the shadow doesn't show!*/
	margin: 0px;
	padding: 0px;
	z-index: 2;
}
#leftBarHeader {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}
#leftBarHeader #headerLogo {
	background-image: url(resources/logo.png);
	background-repeat: no-repeat;
	height: 162px;
	margin-left: 26px;
}
#headerPicture {
	height: 100px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	background-color: #1d1d1d;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #000;
}
#headerPicture a {
	display: block;
	height: 100px;
	width: 100px;
}
#leftBarShadow {
	background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C */
	position: absolute;
	top: 0px;
	right: -20px;
	bottom: 0px;
	z-index: 2;
	width: 20px;
}
#headerUsername {
	line-height: 20px;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 10px;
}



#headerPicture .imageFog {
	background-image: url(resources/sidebar_picture_fog.png);
	margin: 0px;
	padding: 0px;
	height: 100px;
	width: 100px;
}
#headerNavigation {
	color: #bebebe;
	margin-left: 25px;
	margin-top: 10px;
}
#headerNavigation  a {
	color: #bebebe;
}

#headerNavigation .headerNavigationItem {
	line-height: 26px;
	font-weight: bold;
}
#headerSearchBar {
	background-image: url(resources/search_bar.png);
	height: 36px;
	width: 258px;
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	position: relative;
}
#headerSearchBar input {
	height: 36px;
	width: 200px;
	line-height: 36px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	color: #000;
	font-size: 18px;
	margin: 0px;
	position: absolute;
	left: 10px;
	top: 0px;
}
#leftBarSearchText {
	line-height: 36px;
	margin-left: 10px;
	font-size: 18px;
	font-style: italic;
	color: #999;
}
#leftBarSearchText.hidden {
	display: none;
}
.leftBarSearchButton {
	height: 36px;
	width: 46px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}
